@{
    ViewBag.Title = "Home Page";
    
    @section scripts {
        <script>
            $('.carousel').carousel({
                interval: 10000
            })
        </script>
    }
}

<div class="slide-1 slide">
    <div class="container">
        <h1 class="font-semibold" style="padding-top: 125px;">Welcome</h1>
        <p style="padding-bottom: 125px;">@*<a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
    </div>
</div>

<div class="slide-2 slide">
    <div class="container">
        <h1>FIND HOMES</h1>
        <br />
        <br />
        <a href="https://www.hudhomestore.com/Listing/PropertySearchResult.aspx?sState=UT&sLanguage=ENGLISH" target="_blank" class="homes-link">
            <div class="col-md-4">
                <div class="circle">
                    <span class="glyphicon glyphicon-header myicon"></span>
                </div>
                <h3 class="circle-label">UTAH HUD HOMES</h3>
            </div>
        </a>
        <a class="homes-link">
            <div class="col-md-4">
                <div class="circle">
                    <span class="glyphicon glyphicon-home myicon"></span>
                </div>
                <h3 class="circle-label">OUR LISTINGS</h3>
            </div>
        </a>
        <a href="http://www.utahrealestate.com/index/public.index" target="_blank" class="homes-link">
            <div class="col-md-4">
                <div class="circle">
                    <span class="glyphicon glyphicon-search myicon"></span>
                </div>
                <h3 class="circle-label">UTAH PROPERTY SEARCH</h3>
            </div>
        </a>
    </div>
</div>

<div class="slide-3 slide">
    <div class="container">
        <h1>BUYERS</h1>
        <p>Congratulations! You have decided to purchase a home, or are thinking about buying one. You'll be joining the ranks of hundreds of families who realize that home ownership offers a number of benefits including building equity, saving for the future, and creating an environment for your family. When you own your own home, your hard-earned dollars contribute to your mortgage. The equity you earn is yours. Over time, your home will increase in value.</p>
        <p>In the following reports, you'll find the information you need to make a wise buying decision. We'll take you through the planning process step-by-step , to help you determine which home is right for you. You'll find a host of informative articles on mortgages, vewing homes, the offer, closing details and moving.</p>
        <p>Please contact us if you have any questions about buying a home.</p>
        <br />
        <br />
        <a href="~/Documents/Buying.pdf" target="_blank" class="buying-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-trophy myicon"></i>
                </div>
                <br />
                <h5 class="buying-label">BUYING YOUR FIRST HOME</h5>
            </div>
        </a>
        <a href="~/Documents/TheRightHome.pdf" target="_blank" class="buying-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-dollar myicon"></i>
                </div>
                <br />
                <h5 class="buying-label">THE RIGHT HOME, THE RIGHT PRICE</h5>
            </div>
        </a>
        <a href="~/Documents/Avoid.pdf" target="_blank" class="buying-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-exclamation-triangle myicon"></i>
                </div>
                <br />
                <h5 class="buying-label">AVOID COMMON BUYER ERRORS</h5>
            </div>
        </a>
        <a href="~/Documents/DoYouNeedIt.pdf" target="_blank" class="buying-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-question myicon"></i>
                </div>
                <br />
                <h5 class="buying-label">BUT DO YOU NEED IT</h5>
            </div>
        </a>
    </div>
</div>

<div class="slide-4 slide">
    <div class="container">
        <h1>SELLERS</h1>
        <p>Selling your home is an involved process that affects your family and your future. Before you begin this process, you'll want to ensure that you have the most up-to-date information. When should you sell? How do you get the best price? What kinds of renovations should be made prior to the sale?</p>
        <p>These home selling reports will assist you in answering the many questions that arise during the home selling process. When you're armed with the right information, and an experienced real estate professional, you'll be closer to reaching your goal - selling your home fast, and for the best price.</p>
        <p>Please contact us if you have any questions about selling your home.</p>
        <br />
        <br />
        <a href="~/Documents/CommonSelling.pdf" target="_blank" class="selling-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-trophy myicon"></i>
                </div>
                <br />
                <h5 class="selling-label">COMMON SELLING MISTAKES</h5>
            </div>
        </a>
        <a href="~/Documents/Selling.pdf" target="_blank" class="selling-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-dollar myicon"></i>
                </div>
                <br />
                <h5 class="selling-label">SELLING YOUR HOME</h5>
            </div>
        </a>
        <a href="~/Documents/Surviving.pdf" target="_blank" class="selling-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-exclamation-triangle myicon"></i>
                </div>
                <br />
                <h5 class="selling-label">SURVIVING THE SALE</h5>
            </div>
        </a>
        <a href="~/Documents/TheSellingPrice.pdf" target="_blank" class="selling-link">
            <div class="col-md-3">
                <div class="square">
                    <i class="fa fa-question myicon"></i>
                </div>
                <br />
                <h5 class="selling-label">THE RIGHT SELLING PRICE</h5>
            </div>
        </a>
    </div>
</div>
<div class="slide-5 slide">
    <div class="container">
        <h1>FINANCING ROADMAP</h1>
        <br />
        <br />
        <div class="col-md-2">
            <img src="~/Content/images/start.jpg" width="238px" height="200px" />
            <br />
            <div class="hover-roadmap"></div>
            <div class="roadmap-label">GETTING STARTED</div>
        </div>
        <div class="col-md-2">
            <div class="square">
                <i class="fa fa-dollar myicon"></i>
            </div>
            <br />
            <h5>SHOP FOR A LOAN</h5>
        </div>
        <div class="col-md-2">
            <div class="square">
                <i class="fa fa-university myicon"></i>
            </div>
            <br />
            <h5>KNOW THE NUMBERS</h5>
        </div>
        <div class="col-md-2">
            <div class="square">
                <i class="fa fa-calculator myicon"></i>
            </div>
            <br />
            <h5>GET PRE-APPROVED</h5>
        </div>
        <div class="col-md-2">
            <div class="square">
                <i class="fa fa-file myicon"></i>
            </div>
            <br />
            <h5>APPLICATIONS/PROCESSING</h5>
        </div>
        <div class="col-md-2">
            <div class="square">
                <i class="fa fa-money myicon"></i>
            </div>
            <br />
            <h5>FUNDING</h5>
        </div>
    </div>
</div>
<div class="slide-6 slide">
    <div class="container">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
        <br />
        <br />
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <h3>What is a HUD Home?</h3>
                    <p>When someone with a FHA insured mortgage can't meet the payments, the lender forecloses on the home; HUD pays the lender what is owed; and HUD takes ownership of the home. HUD then sells the home at market value through the local real estate community.</p>
                </div>
                <div class="item">
                    <h3>Who can buy a HUD home?</h3>
                    <p>Anyone who can qualify for a mortgage or who can pay cash may buy a HUD home. Owner occupants must live in the house as their primary residence for at least one year and may not purchase another HUD home as an Owner Occupant for two years. Buyers must use a broker or agent who is registered with HUD to place a bid on a property.</p>
                </div>
                <div class="item">
                    <h3>What is FHA financing?</h3>
                    <p>There are three main types of FHA Financing. More information may be obtained from any mortgage company familiar with FHA Guidelines for the various programs.</p>
                    <p>(1) 203(b) Regular FHA Loan - Listed as "IN" - If the Property does not have any mandatory repairs FHA will insure the Loan hence the classification of "IN" </p>
                    <p>(2) 203((b) - Repair Escrow - Listed as "IE" - When a property has less than $5000 in repairs to bring it up to Minimum Property Standards, FHA will insure the loan provided the repairs are completed by the Buyer or the Buyer's agent within 90 days from the date of Closing. It is a cost to the Buyer that the Buyer can finance and add the amount to the mortgage. The Lender monitors and keeps the funds in an escrow account for disbursement on completion of repairs to the Lender's satisfaction. </p>
                    <p>(3) 203(k) - Rehab Loan - Listed as "203K" - When the property has more than $5000 in Minimum Property Standards repairs to be done. The Lender must obtain an Inspection report from an approved 203(k) consultant and a new appraisal.</p>
                </div>
            </div>
        </div>
    </div>
</div>